<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="eUtilsServiceSoap"/>
                <binding name="eUtilsServiceSoap1"/>
                <binding name="eUtilsServiceSoap2"/>
                <binding name="eUtilsServiceSoap3"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eutils.ncbi.nlm.nih.gov/soap/v2.0/soap_adapter_2_0.cgi?db=gene" binding="basicHttpBinding" bindingConfiguration="eUtilsServiceSoap" contract="eFetch_gene.eUtilsServiceSoap" name="eUtilsServiceSoap"/>
            <endpoint address="http://eutils.ncbi.nlm.nih.gov/soap/v2.0/soap_adapter_2_0.cgi" binding="basicHttpBinding" bindingConfiguration="eUtilsServiceSoap1" contract="eFetch_seq.eUtilsServiceSoap" name="eUtilsServiceSoap1"/>
            <endpoint address="http://eutils.ncbi.nlm.nih.gov/soap/v2.0/soap_adapter_2_0.cgi?db=taxonomy" binding="basicHttpBinding" bindingConfiguration="eUtilsServiceSoap2" contract="eFetch_taxon.eUtilsServiceSoap" name="eUtilsServiceSoap2"/>
            <endpoint address="http://eutils.ncbi.nlm.nih.gov/soap/v2.0/soap_adapter_2_0.cgi" binding="basicHttpBinding" bindingConfiguration="eUtilsServiceSoap3" contract="eUtils.eUtilsServiceSoap" name="eUtilsServiceSoap3"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
